<html>
    <head>

    </head>
    <body>
        <form method='POST' action='/afteradd'>

            <label>Name: </label>
            <input type="text" name="name" placeholder="enter name">

            <label>E-id</label>
            <input type="text" name="id" placeholder="enter id">
           
            <label>Designation</label>
            <input type="text" name="dept" placeholder="enter dept">

            <label>Email</label>
            <input type="text" name="email" placeholder="enter email">

            <input type="submit" name="submit">
        </form>

    </body>
</html>